@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .text-stroke {
      -webkit-text-stroke: 1px black;
  }
}